@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
h1{color:purple}
* {
    font-family: "Roboto Condensed", serif;
}
.class-name{
  text-transform:uppercase;
  color:red;
  letter-spacing:10px;
  font-size:1rem;
  border-bottom:15px dotted black;
  padding-bottom: 0.9rem;
  font-weight:350;
}


p{
  font-weight: 200;
}

a{
  text-decoration: underline;
}

.container{
  display: flex;
  gap: 10px;
}

.projects-item{
  padding: 10px;
  margin: 5px;
  background: rgb(236, 151, 39);
  border: black;
  flex:1;
}